<head>
{% extends 'storyboard/bootstrap.html' %}
{% load bootstrap3 %}

{% block bootstrap3_title %}
    Let's tell a tale!
{% endblock %}

{% block bootstrap3_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="home" href="/">TaleTellers</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">STORIES
                      <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="nav-dropdown">
                        <li><a href="{% url 'top10' %}" id="">Top Stories</a></li>
                        <li><a href="#">Finished Stories</a></li>
                        <li><a href="#">Continuing Stories</a></li>
                    </ul>
                </li>
                <li><a class="hvr-push" href="{% url 'add_story' %}">NEW STORY</a></li>
                <li><a class="hvr-push" href="{% url 'faq' %}">FAQ</a></li>
                <li><a class="hvr-push" href="{% url 'contact' %}">CONTACT</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="nav-icons">
                <ul class="nav navbar-nav navbar-right nav-hide">
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                </ul>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid under_navbar">
 <div class="">
{% block content %}
{% endblock %}
 </div>
</div>

<!--Footer-->
<div class="container" id="final" style="text-align: center;">
    <div class="row">
        <div class="col-xs-6">
            <h4>Made by <a href="https://github.com/orgs/lyk2017-django/teams/africa/members" target="_blank">Team Africa</a></h4>
        </div>
        <div class="col-xs-6">
            <a href="https://github.com/lyk2017-django/TaleTellers" class="button" target='_blank'><img
                    src="http://sciactive.com/pnotify/includes/github-icon.png"></a>
            <a href="#" class="button" target="_blank"><img
                    src="http://www.plasticsuk.com/images/in-icon.png"></a>
            <a href="#" class="button" target='_blank'><img
                    src="http://icons.iconarchive.com/icons/icons8/android/32/Social-Networks-Facebook-icon.png"></a>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

{% block javascript %}
{% endblock %}

{% if request.user.is_authenticated %}
    <script>
        $('.nav-hide').prop('hidden', true);
        $('#nav-icons').append("<li><a href='{% url 'logout' %}'><span class='glyphicon glyphicon-user'></span> Log out</a></li>");
    </script>
{% else %}
    <script>
        $('.nav-hide').prop('hidden', false);
    </script>
{% endif %}

</body>
{% endblock %}
