{% extends 'storyboard/base.html' %}

{% block user_greet %}
    {% if request.user.is_authenticated %}
        <script>
            $('#nav-icons').prop('hidden', true);
        </script>
        Merhaba {{ request.user.username }}, Çıkış yapmak için
        <form action="." method="post" >
            {% csrf_token %}
            <input type="hidden" value="/" name="next">
            <a href="{% url 'logout' %}">tıklayın</a>
        </form>
    {% else %}
        <script>
            $('#nav-icons').prop('hidden', false);
        </script>
        Giriş yapmak için <a href="{% url "login" %}">tıklayın</a>
    {% endif %}

{% endblock %}

