{% extends "storyboard/base.html" %}



{% block content %}
<style>
    .storya{
        color: black
    }
    .storya:hover{
        color: black;
        text-decoration:inherit;
    }
    .storya:focus{
        color: black;
        text-decoration:inherit;
    }
</style>
<h2>{{story_list.0.title}}</h2>
{% for story in story_list  %}
    <a id="{{ story.id }}"
        href="#"
        class="storya"
        style="color:black :hover "
        role="button"
        data-container="body"
        data-toggle="popover"
        data-trigger="focus"
        data-placement="top"
        data-html="auto"
        title="#{{ story.id }} {{ story.creation_time }}"
        data-content='<div style="text-align:center" >
                            <span class="glyphicon glyphicon-chevron-up"  id="like_button" aria-hidden="true"></span>
                              Score: <div style="display:inline" class="boru"></div>
                            <span class="glyphicon glyphicon-chevron-down" id="dislike_button" aria-hidden="true"></span>
                      </div>'
    >{{ story.content }}.</a>
{% endfor %}

<p>
{% for child in object.children.all %}
    <a href="{% url 'story_detail' pk=child.pk %}">#{{ child.id }}</a> <br>
{% empty %}
</p>
<p><--SON--></p>
{% endfor %}
<hr>

<form action="." method="POST" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Gönder</button>
</form>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        });
        $('[data-toggle="popover"]').click(function () {
            console.log($(this));
        });
        $('.storya').click(function() {
            var id = $(this).context.attributes.id.value;

        $.ajax({
            url: '{% url "ulr" %}',
            data: {
                'id': id
            },
            dataType: "json",
            success: function(data) {
                $('.boru').text(data.score);
            }
        });
        });

        function like(param, id) {
            $.ajax({
                data: {
                    "like": param,
                    "id": id,
                },
                url: "{% url "like_dislike" %}",
                success: function (data) {
                    $("#like_"+data.id).text(data.like)
                }
            }
        )};
    </script>
{% endblock %}