{% extends "storyboard/base.html" %}
{% load bootstrap3 %}

{% block content %}
<h2 style="text-align: center">Add a New Story</h2>

{% if request.user.is_authenticated %}
<div class="container content-align">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        <form action="." method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
{% endif %}
<br><br>
<h2 style="text-align: center">Latest Stories</h2>
<br><br>
<div class="container content-align">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        <ul>
            {% for post in post_list %}
                <div class="well well-lg">
                    <li>
                        <p>
                            <a href="{% url 'story_detail' pk=post.pk %}" class="title">{{ post.title|title}}</a>
                        </p>
                        <p class="content">{{ post.content|truncatewords:5 }}</p>
                        <div class="date">
                            {{ post.creation_time }}
                        </div>
                    </li>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}