{% extends "storyboard/home.html" %}

{% block content %}
    <h2 style="text-align: center">Son Eklenen Hikayeler</h2>
    <div class="container">
    <ul>
        {% for post in object_list %}
            <li><a href="{% url 'story_detail' pk=post.pk %}" style="font-size: x-large">{{ post.title|title }}</a>
            {{ post.creation_time|date:"[t M y, D]" }}
            Puan: {{ post.score }}
            <p>{{ post.content|truncatewords:5 }}</p></li>
        {% endfor %}
    </ul>
    </div>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
