{% extends "storyboard/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container" style="word-wrap:break-word">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        <div ><h1>"{{ top.content }}"</h1></div>
        <br>
        <h2>{{story_list.0.title}}</h2>

        {% for story in story_list  %}
            <a id="{{ story.id }}"
                href="#"
                class="storya"
                style="color:black" :hover
                role="button"
                data-container="body"
                data-toggle="popover"
                #data-trigger="focus"
                data-placement="top"
                data-html="auto"
                title="#{{ story.id }} {{ story.creation_time }} <span style:'align:right' class='glyphicon glyphicon-remove-circle' id=close_button></span>"
                data-content='<div style="text-align:center" >
                                    <a href="..\{{ story.id }}" class="glyphicon glyphicon-copy" aria-hidden="true"></a>
                                    <span class="glyphicon glyphicon-chevron-up" name={{story.id}} id="like_button" aria-hidden="true"></span>
                                      Score: <span class="boru"></span>
                                    <span class="glyphicon glyphicon-chevron-down" name={{story.id}} id="dislike_button" aria-hidden="true"></span>
                              </div>'
                >{{ story.content }}</a>
        {% endfor %}
        <p>
            {% for child in object.children.all %}
                <a href="{% url 'story_detail' pk=child.pk %}">#{{ child.id }}</a> <br>
            {% empty %}
                </p>
                <p><--THE END--></p>
            {% endfor %}


<hr>
{% if object.children.count < 3 %}
<form action="." method="POST" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Send</button>
</form>
{% else %}
<div>You have reached the maximum amount of forks. Please read on.</div>
{% endif %}
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        });
        $('[data-toggle="popover"]').click(function () {
        });
        $('.storya').click(function() {
            var id = $(this).context.attributes.id.value;

        $.ajax({
            url: '{% url "ulr" %}',
            data: {
                'id': id
            },
            dataType: "json",
            success: function(data) {
                $('.boru').text(data.score);
            }
        });
        });
        $(document).on("click", "#like_button", function() {
            var id = $(this).context.attributes.name.value;
            $.ajax({
                data: {
                    "like": "true",
                    "id": id
                },
                url: "{% url "like_dislike" %}",
                success: function (data) {
                    $('.boru').text(data.like);
                }
            }
        )});
        $(document).on("click", "#dislike_button", function() {
            var id = $(this).context.attributes.name.value;
            $.ajax({
                data: {
                    "like": "false",
                    "id": id
                },
                url: "{% url "like_dislike" %}",
                success: function (data) {
                    $('.boru').text(data.like);
                }
            }
        )}
        );
        $(document).on("click", "#close_button", function() {
             $('[data-toggle="popover"]').popover("hide")
             $('[data-toggle="popover"]').popover()
        });
    </script>
    </div>
</div>
{% endblock %}
