{% extends "storyboard/base.html" %}

{% block content %}
<h2 style="text-align: center">Top 10 Stories</h2>
<br><br>
<div class="container">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        {% for no, post, score_sum in object_list%}
            <div class="well row">
                <div class="col-sm-1" id="order">
                    {{ no }}
                </div>
                <div class="col-sm-1" id="border">
                    {{ post.author }}
                </div>
                    <div class="col-sm-8" top-content>
                    <a href="{% url 'story_detail' pk=post.pk %}" class="title">{{ post.title|title }}</a>
                        <p>{{ post.content }}</p>
                </div>
                <div class="col-sm-2" style="position:relative">
                    <i class="glyphicon glyphicon-heart" id="score_star"></i>
                    <span class="badge shoppingBadge content-score">{{ score_sum }}</span>
                </div>
            </div>
        {% endfor %}

        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}