/*https://codepen.io/yavuzovski/pen/XKjjdV*/

nav {
    padding: 10px;
    background-color: #2373B1 !important;
    border: hidden;
}

.navbar-nav {
    margin-right: 15px;
}

#nav_ul li a {
    color: #fff;
}
.nav_option {
  transition: 0.6s;
  color: #fff;
  text-decoration: none;
  border-right: 2px dotted transparent;
  padding: 30px 8px 0 10px;
  margin: 0 10px;
}
.nav_option:hover {
  border-bottom: 2px dotted #fff;
  padding-bottom: 5px;
}

#nav_login li a {
    color: #fff;
}

.under_navbar {
    margin-top: 100px;
    width: auto;
}

ul {
    list-style-type: none;
}

#home {
    margin-left: 40px;
    padding-right: 20px;
    border-right:2px dashed #fff;
    font-size: x-large;
    color: #fff;
}
