/*https://codepen.io/yavuzovski/pen/XKjjdV*/


nav {
    padding: 10px;
    background-color: #2373B1 !important;
    border: hidden;
    color: #fff;
}

.under_navbar {
    margin-top: 100px;
}

#navbar a,
#navbar li a {
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#nav-dropdown li a {
    color: #2373B1;
}

#nav-icons li a:hover,
.navbar-right li a span:hover {
    color: #90caf9;
}

#nav-dropdown li a:hover {
    background-color: #2373B1;
    color: #fff;
}

#nav-dropdown {
    background-color: #f1f1f1;
}

ul {
    list-style-type: none;
}

.navbar-brand {
    margin: 0px;
    border-right:2px dashed #fff;
    font-size: x-large;
}

.navbar-right {
    margin-right: 15px;
}


/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}