/*https://codepen.io/yavuzovski/pen/XKjjdV*/

nav {
    padding: 20px;
    background-color: #2373B1 !important;
}

/*aktif olan nav optionun rengini degistiriyor*/
.active a {
    background-color: #1DABA1 !important;
}

.nav_option {
    margin-right: 15px;
}

.nav_option:hover {
    background-color: #1DABA1 !important;
}

#nav_ul {
    float: right;
}

.under_navbar {
    margin-top: 100px;
    width: auto;
}

ul {
    list-style-type: none;
}

#home {
    margin-left: 40px;
    font-size: x-large;
    color: #FFFFFF;
}